.body {
    color: #333;
    background-color: white;
    line-height: 1.6;
    margin-bottom: 30px;
    height:auto;
    max-height:1000px;
    min-height: 600px;
}

.product-description {
    margin: 20px;

}

.product-description h2 {
   font-size: 1.4rem;

}
.product-image {
    float: left;
    margin-right: 20px;

}
.features {
    font-size: 1.3rem;
    margin-top: 10px; /* Reduce or remove the top margin */
    margin-bottom: 0px; /* Remove the bottom margin to eliminate the gap */
    padding: 0; /* Ensure no extra padding is applied */
}

.features ul {
    margin-top: 0px; /* Remove the margin at the top of the list */
    padding-left: 20px; /* Optional: Adjust the padding for bullet points */
}


.buy-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #004c86;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #00ba19;
    color: beige;
}


.chart {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    margin-top: 20px;
    height:auto;

}

.chart img {
    padding-bottom: 60px;
    float: left;
    width: 750px; /* Adjust this value to make the image smaller */
    height: auto; /* Ensures the aspect ratio is maintained */
}

.navigation-buttons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-description{
    word-wrap: break-word;
}

.nav-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #013164;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-btn:hover {
    background-color: #0056b3;
    opacity: 100%;
}

.left-btn {
    margin-left: 10px;
    left: 0;
}

.right-btn {
    margin-right: 30px;
    right: 0;
}
.chart {
    bottom: 0;
}

.chart:right-image {
    float: right;
    max-width: 100%;
    height: auto;
    display: block;
}

